.aboutWindow {
    &__header {
        height: 30px;
        margin-top: -5px;
    }
    &__body {
        height: 340px;
        > h1 {
            font-size: 30px;
            padding-left: 0.5rem;
        }
    }
    &__bodyInner {
        display: flex;
        padding: 1rem;
    }
}

.description {
    width: 66%;
    margin-right: 2rem;
}

.picture {
    width: 33%;
    > img {
        width: 95%;
    }
}