.aboutWindow {
    &__body {
        > h1 {
            font-size: 30px;
            padding-left: 0.5rem;
        }
    }
    &__bodyInner {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        width: 90%;
        margin-left: auto;
    }
}

.profile-picture {
    width: 25%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
    margin-left: 2rem;
}