.aboutWindow {
    &__body {
        > h1 {
            font-size: 30px;
            padding-left: 0.5rem;
        }
    }
    &__bodyInner {
        display: flex;
        padding: 1rem;
    }

    > p {
        width: 66%;
        margin-right: 2rem;
    }
}