.taskbar.taskbar {
    position: absolute;
    bottom: 0;
    top: auto;
    z-index: 3;
}

.taskbar {
    &__toolbar.taskbar__toolbar {
        padding-right: 55px;
    }
    &__buttonWrapper {
        flex: 1;
    }
    &__applications {
        flex: 1;
        overflow: auto;
    }
    &__applicationsButtons {
        position: absolute;
        left: 0;
        right: 0;
    }
}