.taskbar.taskbar {
    position: absolute;
    bottom: 0;
    top: auto;
    z-index: 3;
}

.taskbar {
    &__toolbar.taskbar__toolbar {
        padding-right: 55px;
    }
    &__buttonWrapper {
        flex: 1;
    }
    &__applications {
        flex: 1;
        overflow: auto;
    }
    &__applicationsButtons {
        position: absolute;
        left: 0;
        right: 0;
    }
}

.taskbarClock {
    position: absolute;
    right: 4px;
    height: 32px;
    line-height: 32px !important;
    margin: 0.25rem;
    padding: 0 0.5rem;
    border: 2px inset #ededed;
    // prevent highlighting
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

