.projectsWindow {
    &__body {
        height: 60vh;
        > h1 {
            font-size: 30px;
            padding-left: 1rem;
        }
    }
    &__bodyInner {
        padding: 1rem;
        padding-left: 1rem;
        
        .projectTitle {
            line-height: 2;
            font-size: 20px;
            text-decoration: none;
            font-weight: bold;
        }
        > img {
            display: block;
            padding: 1rem;
            margin: auto;
            width: 75%;
        }
        > h3 {
            font-weight: bold;
        }
    }
}